In [24]:
import pandas as pd

In [25]:

venda = {'data': ['03/07/2021', '04/07/2021'],
        'valor': [500, 300],
        'produto': ['feijao', 'arroz'],
        'qtde':[50,70],    
        }
tabelaVendas = pd.DataFrame(venda)

In [26]:
display(tabelaVendas)

         data  valor produto  qtde
0  03/07/2021    500  feijao    50
1  04/07/2021    300   arroz    70

In [27]:
tabelaVendas = pd.read_excel('Vendas.xlsx')

In [6]:
display(tabelaVendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [7]:
display(tabelaVendas.head(10))
print(tabelaVendas.shape)
display(tabelaVendas.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

agora vou puxar uma única coluna da tabela!
# Pegar 1 coluna (e os pd.series)

In [28]:
produtos = tabelaVendas[['Produto', 'ID Loja']]
display(produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

# .loc, um método muito importante

    -Pegar 1 linha
    -Pegar linhas de acorda com alguma condição
    -Pegar linhas e colunas específicas
    -Pegar 1 valor específico

In [29]:
# pegar uma linha
display(tabelaVendas.loc[1])

#correspondendo à uma condição
vendasNorteShopping = tabelaVendas.loc[tabelaVendas['ID Loja'] == 'Norte Shopping']

#pegar várias linhas e colunas usando o loc
vendasNorteShopping = tabelaVendas.loc[tabelaVendas['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]
display(vendasNorteShopping)

#pegar um valor específico
print(tabelaVendas.loc[1, 'Produto'])

Código Venda                        1
Data              2019-01-01 00:00:00
ID Loja            Iguatemi Esplanada
Produto                      Camiseta
Quantidade                          2
Valor Unitário                    180
Valor Final                       360
Name: 1, dtype: object

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

Camiseta

# Adicionar 1 coluna

In [30]:
# a partir de uma colina que ja existe
tabelaVendas['Comissão'] = tabelaVendas['Valor Final'] * 0.05
#diplay(tabelaVendas)


# criar uma coluna com valor padrão
tabelaVendas.loc[:,'Imposto'] = 0
display(tabelaVendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

In [31]:
tabelaVendasDez = pd.read_excel('Vendas - Dez.xlsx')
tabelaVendasDez['Comissão'] = tabelaVendasDez['Valor Final'] * 0.05
tabelaVendasDez.loc[:, 'Imposto'] = 0
#display(tabelaVendasDez)

tabelaVendas = tabelaVendas.append(tabelaVendasDez)
display(tabelaVendas)

C:\Users\pedri\AppData\Local\Temp\ipykernel_10300\457251557.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabelaVendas = tabelaVendas.append(tabelaVendasDez)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0

# Excluindo Linhas e colunas

In [33]:
tabelaVendas = tabelaVendas.drop(0, axis = 0)
display(tabelaVendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30